#coordenadas{
    position: absolute;
    top: 58px;
    left: 20px;
    background: #FFF;
    padding: 10px;
}
.imageToUpload {
    border: 1px solid #666;
    background-color: #FFF;
    padding: 4px;
    cursor: pointer;
}
#imageToExtract {
    width: 1000px;
}
#imageAndCoords {
    margin-top:20px;
}